<div class="container-fluid">

    <h2>Admin</h2>

    <h3>Number pipe</h3>
    <div>{{mynumber | number}}</div>
    <div>{{mynumber | numberformat}}</div>

    <h3>Currency pipe</h3>
    <div>{{mynumberstring | currency}}</div>
    <div>{{mynumberstring | currencyformat}}</div>

    <h3>Third party components</h3>
    <!--<a class="btn btn-primary" [routerLink]="['/admin/fileupload']">fileupload</a>-->
    <a class="btn btn-primary" [routerLink]="['/admin/ngx-bootstrap']">ngx-bootstrap</a>
    <a class="btn btn-primary" [routerLink]="['/admin/primeng']">primeng</a>

</div>